.user-auth-background {
    background-color: rgba(240,240,240,0.7); padding: 3rem 5rem;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
}
.next-story:hover, .next-story:focus {
    background-color: rgba(23,23,99, 0.1);
}
.next-story {
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

svg g#normal_col .style0 {
    stroke: #222889;
    stroke-width: 3;
    stroke-miterlimit: 10;
    fill: none;
}

svg g#normal_col .style1 {
    fill: #222889;
}


svg g#narrow_col .style0{
    stroke:	#222889;
    stroke-width:	3;
    stroke-miterlimit:	10;
    fill:	none;
}
svg g#narrow_col .style1{
    fill:	#222889;
}

svg g#wide_col .style0{
    stroke:	#222889;
    stroke-width:	3;
    stroke-miterlimit:	10;
    fill:	none;
}
svg g#wide_col .style1{
    fill:	#222889;
}

svg g#text_size .style0{
    font-family:	Clavo-Thin;
}
svg g#text_size .style1{
    fill:	#222889;
}
svg g#text_size .style2{
    font-size:	18;
    font-family:	'Clavo-Thin';
    fill:	#222889;
}

.stripes-please {
    background-color: rgba(198,209,198,0.65);
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 20%);
    background-size: 50px 50px;
}


body {
    background-color: rgba(198,209,198,0.65);
    font-family: "adobe-text-pro", sans-serif;
    color: rgb(2,0,61);
    text-rendering: optimizeLegibility; /*  optional: for older browsers */
    -webkit-font-variant-ligatures: common-ligatures; /*  for iOS and Safari 6 */
   font-variant-ligatures: common-ligatures;  /*  for up-to-date browsers, including IE10 and Opera 21 */
    -moz-font-feature-settings: "kern=1", "liga", "clig"; /* pre-Firefox 14+*/
    -webkit-font-feature-settings: "kern", "liga", "clig";
   -moz-font-feature-settings: "kern", "liga", "clig";  /* Firefox 14+*/
    /* font-feature-settings:  "kern", "liga", "clig";standard Internet Explorer breaks with this feature */
    font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+ */
}

#wrapper {
    background-color: rgb(253,254,255);
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 31px 17px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 31px 17px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 31px 17px rgba(0,0,0,0.24);
}

.breadcrumb {
    background-color:transparent;
}

#wrapper .header.row{
    background: #FBFFF0;
    border-bottom: double 0.1rem gold;
}
#brand {
    font-family: "adriane", times, Times New Roman, times-roman, georgia, serif;
    font-style: normal;
    font-weight: 400;
    padding: 1.2rem;
    color: #444;
    margin: 0;
    padding: 1.2rem 1rem 1rem 1rem;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -0.1rem;
    font-weight: bold;
}


nav#navigation-user li.login-or-register a {
    color: rgb(2,0,61);
}

nav#navigation-user li.login-or-register a:hover, nav#navigation-user li.login-or-register a:focus {
    color: rgba(2,0,61,0.7);
}

nav#navigation-user li.login-or-register{
    /*border-top: 4px double black;*/
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background-color: rgba(200,150,190,0.2);


    -webkit-transition: background-color 2s, -webkit-transform 2s;
    transition: background-color 2s, transform 2s;
}
nav#navigation-user li.login-or-register:focus, nav#navigation-user li.login-or-register:hover{
    /*border-top: 4px double black;*/
    border-top: 1px dashed transparent;
    border-bottom: 1px dashed transparent;

    background-color: rgba(2,2,2,0.3);
}

.wsj-section{
    color: #444;
}

div.advertisement {
    position: relative;
    height: 15rem;
    overflow: hidden;
    width: 100%;
    padding: 0 auto;
}
img.advertisement-banner {
    position: absolute;
    /*right: 0;*/
    top: 0;
    /*height: 100%;*/
    margin: 0 auto;
    width: auto;

    /*height: 25rem;*/
}

#whats-news-column {
    background-color: rgb(255, 228, 163);
    /*background-color: rgb(255, 233, 207);*/
    font-family: "aktiv-grotesk-std",sans-serif;
    border-top: solid 1rem rgb(232,204,99);
}

#whats-news-column h3 {
    border-bottom: double 1px red;
}
a:link, a:visited, a:hover, a:focus, a:active {text-decoration: no-underline;text-decoration: none;}

a:link {color: rgb(2,0,61);}
a:visited {color: #999999;}
a:hover {color: #333333;}
a:focus {color: #333333;}
a:active {color: #009900;}

h1,.h1, h2, .h2, h3 , .h3 , h4 , .h4 , h5 , .h5 , h6 , .h6 {
    font-family: "adriane",serif;
    font-style: normal;
    font-weight: 400;
}

ul.nav-sections {
    width:80%;
    margin: 0 auto;
    text-align:center;
}
ul.nav-sections li {
    float: none;
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    margin-right:10px;
}

.modal-content {

    background-color: rgba(251,252,254, 0.6);

}
.modal-header {
    background-color: rgba(255, 231, 163, 0.8);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.5);
    box-shadow: 0 3px 2px rgba(0,0,0,.5);
}

.modal-header *, .modal-header *:visited
{
    color: #444;
}

div.row.sub-section:hover, div.row.sub-section:focus  {
    background-color: rgba(244,247,239,0.65);

}
div.row.sub-section {
    background-color: rgba(244,247,239,0.95);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);

    border-bottom: 2px solid #999;
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 2rem;
}
div.row.sub-section:last-of-type{
    display: none;
}

.nav-section-stories article {
    position: relative;
    height: 20rem;
    overflow: hidden;
}
.nav-section-stories article img {
    position: absolute;
}
.nav-section-stories article a:hover,
.nav-section-stories article a:active,
.nav-section-stories article a:focus {
    background-color: rgba(244,247,239,0.95);
    color: rgb(2,0,61);
}


.nav-section-stories article a  {
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    margin-top: 5rem;
    padding: 1.2rem;
    background-color: rgba(244,247,239,0.45);
    cursor: pointer;
    color: rgb(2,0,61);
}
.nav-section-stories article h2  {
    font-size: 2rem;
    margin-top: 0;
    letter-spacing: -0.015rem;
}
.nav-section-stories article h3  {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 0;
    letter-spacing: -0.015rem;
}

.nav-section-stories article p  {
    font-family: aktiv-grotesk-std, sans-serif;
    font-size: 1.3rem;
    letter-spacing: -0.05rem;
}

.row.article-page-splash {
    margin-bottom: -30rem;
}

.article-page-splash .breadcrumb {
    margin-bottom: 0;
}
.row.article-page-content {

}

.article-page-content .blog-post-related article
{
    padding: 1rem;
}

.article-page-content .blog-post-related article a img.img-thumbnail.thumbnail  {
    /*width: 30%;*/
    /*float: left;*/
}

.article-page-content .post {
background-color: rgba(244,247,239,0.85);
}

article[id*="post-"]:hover,
article[id*="post-"]:active,
article[id*="post-"]:focus,
.article-page-content .blog-post-related article:hover,
.article-page-content .blog-post-related article:focus
{
    background-color: rgba(120,180,140,0.6);
}

article.post {
    padding: 3rem;
}

article h2{
font-size: 1.6rem;
}

section.secondary-stories {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

article[id*='post-'],
.article-page-content .blog-post-related article,
article.post-preview {
    border-bottom: 1px solid rgb(2,0,61);
    background-color: rgb(253,254,255);
    padding: 1.6rem;
}
.blog-post-related h1 {
    font-size: 1.23rem;
    color: green;
}

.img-wrap {
    width: 100%;
    height: 43rem;
    overflow: hidden;
    position: relative;
}

img.featured-image{
    width: 100%;
    position: absolute;
}
article.post.featured-story {
    padding-top: 0px;
    border: 1px solid  rgba(255,255,255,0);
}
article.post.featured-story img {
    width: 100%;
}

article.post.featured-story:hover,
article.post.featured-story:focus {
    border: solid 1px rgb(2,0,61);
    border-top: solid 1px rgba(2,0,61,0);
    border-bottom: solid 1px rgba(2,0,61,0);
    background-color: rgba(225,213,132,0.2);
    /*background-color: rgba(225,238,220,0.2);*/
}

article.post.featured-story a:hover,
article.post.featured-story a:focus {

}

article.post.featured-story h1,
article.post.featured-story a h1 {
    color: rgb(90,110,191);
}

article.post.featured-story p{
    font-size: 1.2em;
    border-bottom: inset 1px ;
    text-align: justify;
    color: rgb(2,0,61);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 240, 149);
    background-image: none;
    color: rgb(0, 0, 0);
}

.ng-pristine input { border:1px solid Gold; }
.ng-dirty.ng-valid input { border:1px solid Green; }
.ng-dirty.ng-invalid input { border:1px solid Red; }
.ng-dirty.ng-valid  span { color:green; display:inline; }
.ng-dirty.ng-invalid span { color:red; display:inline; }


@media (min-width: 768px ) {
    body{
        background-color: rgba(50,60,100,0.5);
    }

    article.post {
        padding: 6rem;
    }

    .modal-dialog {
        width: 90%;
        margin: 30px auto;
    }

    .front-page nav#navigation-user {
        position: relative;
        top: -5rem;
    }
}
a[ng-click]{
    cursor: pointer;
}

/* Medium devices (large desktop monitors, 1920px and up) */
@media (min-width: 1600px ) {
    #wrapper {
        margin: 0em 8em;
    }

    .header.front-page, .header.article-page {

    }
    #brand {
        font-size: 11rem;
        line-height: 12rem;
    }

    .wsj-section{
        font-size: 6rem;
        padding-top: 20px;
    }

    nav#navigation-user {
        border-top: 1px solid transparent;
        border-bottom: 3px double transparent;
        font-size: 1.13rem;
        position: relative;
        top: 4em;
        float: right;
        margin-right: 8em;
    }

    nav#navigation-user:hover, nav#navigation-user:focus {
        border-top: 1px solid black;
        border-bottom: 3px double black;
    }

    .front-page nav#navigation-user {
        position: relative;
        top: -8em;
    }

    #tools-share{
        margin-top: 10rem;
    }

    .row.article-page-splash {
        margin-bottom: -40rem;
    }

    .img-wrap {
        height: 60rem;
    }

     [size="section-menu"].modal {
         /*top: 12rem;*/
     }

    [size="section-menu"] .modal-dialog {
        width:120rem;
    }
}

@media (min-width: 1900px ) {
    #brand {
        text-align: center;
    }
}


.address-entry input[name="address[]"] {

}

.stripped-background {
    /* Stripped Background */
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

